<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Search Contact
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
  <div *ngIf="searching" class="spinner-container" text-center>
    <ion-spinner></ion-spinner>
  </div> 

  <ion-row *ngIf="!found">
    <ion-col text-center>
      <p>No contact found</p>
    </ion-col>
  </ion-row>

  <ion-list *ngIf="found">
    <ion-item-sliding *ngFor="let contact of contacts">
      <ion-item>
      <ion-thumbnail item-start>  
        <img src="assets/imgs/contact.png">
      </ion-thumbnail> 
      <h2>{{contact.full_name}}</h2>
      <p>{{contact.address}}</p>
    </ion-item>
    <ion-item-options side="right">
        <button ion-button color="primary" (click)="onGotoDetailContactPage(contact)">
          <ion-icon name="list-box"></ion-icon>
          Detail
        </button>
        <button ion-button color="secondary" (click)="onCallNumber(contact.phone)">   
          <ion-icon name="call"></ion-icon> 
          Call
        </button>
    </ion-item-options>
    </ion-item-sliding>
  </ion-list> 
</ion-content>
